body{
    margin: 0;
}

.sideMargin{
    margin: 0px 100px 0px 100px;
}

p{
    color: hsl(208, 11%, 55%);
    font-size: 18px;
}

p, .headContainer a, .nav a{
    font-family: 'Open Sans';
}

.headContainer a, .nav a{
    font-size: 16px;
}

.headContainer p{
    margin-bottom: 40px;
}

.card p{
    font-family: 'Open Sans';
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .ready h1 {
    font-family: Poppins;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}

#whitelogo{
    font-size: 24px;
    font-weight: 600;
    color: white;
}


.card h2 {
    font-family: Poppins;
    font-weight: 600;
}

.myBtn{
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    background-color: white;
    color: hsl(192, 100%, 9%);
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);

}

.myBtn:hover{
    padding: 10px 50px 10px 50px;
    color: grey;
}

.coloredBtn{
    background-color: hsl(322, 100%, 66%);
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 15px 32px 15px 32px;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    position: relative;
    animation-name: ready;
    animation-duration: 3s;  
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes ready {
    from {top: -500px;}
    to {top: 0px;}
  }

.coloredBtn:hover{
    padding: 15px 40px 15px 40px;
    background-color: hsla(322, 100%, 66%, 0.65); 
}

.coloredBtn a{
    font-weight: 400;
    font-family: Poppins;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 50px 0px 0px 0px;
}



.nav img{
    align-self: center;
    height: 28px;
    width: auto;
}

header{
    display: block;
    margin-bottom: 80px;
}

.headContainer{
    background-color: hsl(193, 100%, 96%);
    min-height: 90vh;
    display: block;
    height: auto;
    background-image: url("images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
}

.headDiv{

    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.HeadtextDiv{
    display: grid;
    justify-content: start;
    align-items: center;
    width: auto;
}


.headImgDiv{
    display: grid;
    justify-content: center;
    align-items: center;
    width:  auto;

}

.card{
    display: block;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);
    margin-bottom: 100px;
    height: auto;

}


.box50 p, h2{
    width: 95%;
    align-self: center;
}

.box50{
    display: grid;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 40px 50px 40px 50px;
}


.myfooter{
    background-color: hsl(192, 100%, 9%);
    display: grid;
    grid-template-columns: 1fr 1fr  1fr  1fr ;
    grid-template-rows: auto;
    gap: 20px 20px;
    height: auto;
    padding: 100px 32px 32px 32px;
    color: white;
    z-index: 2;
}

.myfooter a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
}

.myfooter a:hover{
    text-decoration: underline;
    color: hsl(322, 100%, 66%);
}

.myfooter li{
    list-style-type: none;
}



.myflex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.myflex img{
    margin-right: 12px;
}

.sideMarginfooter{
    padding: 50px 100px 50px 100px;
}

.socials a{
    margin-right: 30px;
    font-size: 24px;
}

.mrCenter{
    display: grid;
    justify-content: center;
}

.ready{
    width: 500px;
    height: auto;
    border: white;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: auto;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);
    z-index: 1;
    top: 58px;
    padding: 20px 20px 20px 20px;
    position: relative;

}

.ready h2{
    font-size: 40px;
}

#footlogo{
    filter: grayscale(100%);
    filter: brightness(0%);
    filter: invert(98%) sepia(100%) saturate(7%) hue-rotate(117deg) brightness(101%) contrast(102%);
}



/*
### Primary

 Pink: hsl(322, 100%, 66%)

### Neutral

- Very Pale Cyan: hsl(193, 100%, 96%)
- Very Dark Cyan: hsl(192, 100%, 9%)
- Grayish Blue: hsl(208, 11%, 55%)
*/

@media only screen and (min-width: 480px) {
    .sideMargin{
        margin: 0px 24px 0px 24px;
    }

    .headDiv{
        background-color: hsl(193, 100%, 96%);
        /*height: 100vh; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 60px;
    }



    .HeadtextDiv{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    

    .headImgDiv{
        display: grid;
        justify-content: center;
        align-items: center;
        width:  100%;
        align-self: center;
        margin: auto;
    
    }

    .headImgDiv img{
        height: auto;
        width: 269px;
        align-self: center;
    }

    .card{
        display: block;
        padding: 10px 10px 10px 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);
        margin-bottom: 100px;
        height: auto;
    
    }

    .box50 p, h2{
        width: 95%;
        align-self: center;
    }

    .box50 img{
        width: 100%;
        height: auto;
    }
    
    .box50{
        display: grid;
        width: 92%;
        justify-content: center;
        align-items: center;
        padding: 24px 5px 24px 5px;
 
    }

    .myfooter{
        background-color: hsl(192, 100%, 9%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px 20px;
        height: auto;
        padding: 100px 32px 32px 32px;
        color: white;
    }

    .ready{
        width: 70%;
        height: auto;
        border: white;
        border-radius: 8px;
        display: grid;
        justify-content: center;
        align-content: center;
        margin: auto;
        position: relative;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);
        z-index: 1;
        top: 58px;
        padding: 20px 20px 20px 20px;
    }




}

@media only screen and (max-width: 480px) {

    .center {
        display: grid;
        justify-items: center;
    }

    .center a{
        width: 200px;
    }

    .HeadtextDiv p, .HeadtextDiv h1, .HeadtextDiv h1, .box50 h2, .box50 p{
        text-align: center;
        align-self: center;
    }

    .headContainer{
        background-image: url("images/bg-hero-mobile.svg");
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position: center;
    }

    .myfooter{
        background-color: hsl(192, 100%, 9%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px 20px;
        height: auto;
        padding: 100px 32px 32px 32px;
        color: white;
    }

    .ready{
        width: 70%;
        height: auto;
        border: white;
        border-radius: 8px;
        display: grid;
        justify-content: center;
        align-content: center;
        margin: auto;
        position: relative;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);
        z-index: 1;
        top: 58px;
        padding: 20px 20px 20px 20px;
    }

}

@media only screen and (min-width: 576px) {
    .HeadtextDiv p, .HeadtextDiv h1, .HeadtextDiv h1, .box50 h2, .box50 p{
        text-align: center;
        align-self: center;
    }

    .center {
        display: grid;
        justify-items: center;
    }

    .center a{
        width: 200px;
    }

    .myfooter{
        background-color: hsl(192, 100%, 9%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px 20px;
        height: auto;
        padding: 100px 32px 32px 32px;
        color: white;
    }
}

@media only screen and (max-width: 576px) {
    .sideMargin{
        margin: 0px 24px 0px 24px;
    }

    .nav img {
        align-self: center;
        height: 18px;
        width: auto;
    }

    .headDiv{
        background-color: hsl(193, 100%, 96%);
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 60px;
    }

    .HeadtextDiv{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .center {
        display: grid;
        justify-items: center;
    }

    .center a{
        width: 200px;
    }

    .HeadtextDiv p, .HeadtextDiv h1, .HeadtextDiv h1, .box50 h2, .box50 p{
        text-align: center;
        align-self: center;
    }

    .headImgDiv{
        display: grid;
        justify-content: center;
        align-items: center;
        width:  100%;
        height: auto;
    
    }

    .headImgDiv img{
        height: auto;
        width: 269px;
    }

    .card{
        display: block;
        padding: 10px 10px 10px 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 0px;
        grid-column-gap: 20px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);
        margin-bottom: 100px;
        height: auto;
        justify-items: center;
    
    }

    .box50 p, h2{
        width: 95%;
        align-self: center;
    }
    
    .box50{
        display: grid;
        width: 92%;
        justify-content: center;
        align-items: center;
        padding: 24px 5px 24px 5px;
        
     
    }

    .myfooter{
        background-color: hsl(192, 100%, 9%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px 20px;
        height: auto;
        padding: 100px 32px 32px 32px;
        color: white;
    }

    .ready{
        width: 70%;
        max-width: 300px;
        height: auto;
        border: white;
        border-radius: 8px;
        display: grid;
        justify-content: center;
        align-content: center;
        margin: auto;
        position: relative;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);
        z-index: 1;
        top: 58px;
        padding: 20px 20px 20px 20px;
    }

    
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {
    .sideMargin{
        margin: 0px 100px 0px 100px;
    }

    .headDiv{
        background-color: hsl(193, 100%, 96%);
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        
    }

    .HeadtextDiv{
        display: grid;
        justify-content: start;
        align-items: center;
        width: auto;
    }

    .headImgDiv{
        display: grid;
        justify-content: center;
        align-items: center;
        width:  auto;
    }

    .headImgDiv img{
        height: 400px;
        width:  auto;
    }

    .card{
        display: block;
        padding: 10px 10px 10px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 40px;
        grid-column-gap: 20px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);
        margin-bottom: 100px;
        height: auto;
    
    }

    .box50 p, h2{
        width: 95%;
        align-self: center;
    }
    
    .box50{
        display: grid;
        width: auto;
        justify-content: center;
        align-items: center;
        padding: 40px 50px 40px 50px;
     
    }

    .box50 img{
        width: 100%;
        height: auto;
    }
    

    .myfooter{
        background-color: hsl(192, 100%, 9%);
        display: grid;
        grid-template-columns: 1fr 1fr  1fr  1fr ;
        grid-template-rows: auto;
        gap: 20px 20px;
        height: auto;
        padding: 100px 32px 32px 32px;
        color: white;
    }

    .ready{
        width: 500px;
        height: auto;
        border: white;
        border-radius: 8px;
        display: grid;
        justify-content: center;
        align-content: center;
        margin: auto;
        position: relative;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 6px 20px 0 rgba(175, 174, 174, 0.19);
        z-index: 1;
        top: 58px;
        padding: 20px 20px 20px 20px;
    }

    .HeadtextDiv p, .HeadtextDiv h1, .HeadtextDiv h1, .box50 h2, .box50 p{
        text-align: left;
        align-self: flex-start;
    }
    
    .center {
        display: grid;
        justify-items: start;
    }

    .center a{
        width: 200px;
    }
}